In [21]:
import pandas as pd

## leer 6 archivos de excel distintos
customerAddress = pd.read_excel("../data/200K_CustomerAddress.xlsx")
generalOrder= pd.read_excel("../data/200K_GeneralOrderDetail.xlsx")

# DATA EXPLORATORY ANALYSIS

In [18]:
customerAddress.head(10)

,addressName,addressType,city,country,countryfake,geoCoordinate,neighborhood,postalCode,state,userId,...,createdIn,updatedBy,updatedIn,lastInteractionBy,lastInteractionIn,followers,tags,auto_filter,Cretaed_Timestamp,Updaqted_Timestamp
0,b7f847462a984eaea560b8b79,residential,GUADALUPE,MEX,NaN,"[-100.2056884765625, 25.717365264892578]",Serena,67129,NUEVO LEÓN,70f350f5-f62e-11ec-835d-0a8fb171123f,...,2022-06-28 01:00:00,NaN,NaT,80ec8b10-25b7-48de-b425-7b93554002cb,2022-06-28 01:00:00,[],[],NaN,2022-06-29 16:49:54.710,2022-06-29 16:49:54.710
1,b7999b2bcf154649a42ec1e66,residential,SAN NICOLÁS DE LOS GARZA,MEX,NaN,"[-100.27811644319432, 25.74423676411608]",Las Puentes Sector 1,66460,NUEVO LEÓN,c21ef477-e9c4-11ec-835d-02978ed58bf1,...,2022-06-28 01:00:00,NaN,NaT,80ec8b10-25b7-48de-b425-7b93554002cb,2022-06-28 01:00:00,[],[],NaN,2022-06-29 16:49:54.710,2022-06-29 16:49:54.710
2,050e6f3891bf4708aa69bc703,residential,MONTERREY,MEX,NaN,"[-100.26667022705078, 25.69341278076172]",Fontanares Churubusco Sur,64540,NUEVO LEÓN,66021709-f670-11ec-835d-16b245a39a51,...,2022-06-28 01:00:00,NaN,NaT,80ec8b10-25b7-48de-b425-7b93554002cb,2022-06-28 01:00:00,[],[],NaN,2022-06-29 16:49:54.710,2022-06-29 16:49:54.710
3,e80996901a5c43cba050796fb,residential,XOCHIMILCO,MEX,NaN,"[-99.16278076171875, 19.291709899902344]",San Lorenzo La Cebada,16035,CIUDAD DE MÉXICO,79e873e1-e2c7-11ec-835d-1205375cb899,...,2022-06-28 01:00:00,NaN,NaT,80ec8b10-25b7-48de-b425-7b93554002cb,2022-06-28 01:00:00,[],[],NaN,2022-06-29 16:49:54.710,2022-06-29 16:49:54.710
4,651e1032d4604100a9d409749,residential,GUADALUPE,MEX,NaN,"[-100.24179077148438, 25.6845645904541]",Azteca,67150,NUEVO LEÓN,89975ae6-f33a-11ec-835d-0ef358621195,...,2022-06-28 01:00:00,NaN,NaT,80ec8b10-25b7-48de-b425-7b93554002cb,2022-06-28 01:00:00,[],[],NaN,2022-06-29 16:49:54.710,2022-06-29 16:49:54.710
5,ea3e0f5bb23e47efac1b03e46,residential,MONTERREY,MEX,NaN,"[-100.30682373046875, 25.643972396850586]",Independencia,64720,NUEVO LEÓN,74dc8cff-e529-11ec-835d-12a16ce67027,...,2022-06-28 01:00:00,NaN,NaT,80ec8b10-25b7-48de-b425-7b93554002cb,2022-06-28 01:00:00,[],[],NaN,2022-06-29 16:49:54.710,2022-06-29 16:49:54.710
6,fbc61a1465db458e8b3cd321a,residential,ZAPOPAN,MEX,NaN,"[-103.4146957397461, 20.72429656982422]",Santa Margarita,45140,JALISCO,1266e1ef-f24f-11eb-82ac-169197452e1f,...,2022-06-28 01:00:00,NaN,NaT,80ec8b10-25b7-48de-b425-7b93554002cb,2022-06-28 01:00:00,[],[],NaN,2022-06-29 16:49:54.710,2022-06-29 16:49:54.710
7,2f20645cb5cd4b3b89c2801aa,residential,SOLIDARIDAD,MEX,NaN,"[-87.07501220703125, 20.622051239013672]",Ejidal,77712,QUINTANA ROO,2f2df389-d61f-11ec-835d-162bfe278319,...,2022-06-28 01:00:00,NaN,NaT,80ec8b10-25b7-48de-b425-7b93554002cb,2022-06-28 01:00:00,[],[],NaN,2022-06-29 16:49:54.710,2022-06-29 16:49:54.710
8,6fa561872264413a9acf8dbdb,residential,HERMOSILLO,MEX,NaN,"[-118.24368286132812, 34.0522346496582]",Insurgentes,83106,SONORA,5dcb1bb6-d07a-11ec-835d-0e35bba2c857,...,2022-06-28 01:00:00,NaN,NaT,80ec8b10-25b7-48de-b425-7b93554002cb,2022-06-28 01:00:00,[],[],NaN,2022-06-29 16:49:54.710,2022-06-29 16:49:54.710
9,98b9a964dffd4eaab07810671,residential,MONTERREY,MEX,NaN,"[-100.28665924072266, 25.66676139831543]",Buenos Aires,64800,NUEVO LEÓN,e315b767-7152-11eb-82ac-02fd26639ecf,...,2022-06-28 01:00:00,NaN,NaT,80ec8b10-25b7-48de-b425-7b93554002cb,2022-06-28 01:00:00,[],[],NaN,2022-06-29 16:49:54.710,2022-06-29 16:49:54.710

In [19]:
customerAddress.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 221470 entries, 0 to 221469
Data columns (total 25 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   addressName         221470 non-null  object
 1   addressType         221470 non-null  object
 2   city                221470 non-null  object
 3   country             221470 non-null  object
 4   countryfake         0 non-null       float64
 5   geoCoordinate       221423 non-null  object
 6   neighborhood        217181 non-null  object
 7   postalCode          221470 non-null  object
 8   state               221470 non-null  object
 9   userId              221470 non-null  object
 10  id                  221470 non-null  object
 11  accountId           221470 non-null  object
 12  accountName         221470 non-null  object
 13  dataEntityId        221470 non-null  object
 14  createdBy           221470 non-null  object
 15  createdIn           221470 non-null  datetime64[ns]
 16  updatedBy           2820 non-null    object
 17  updatedIn           2820 non-null    datetime64[ns]
 18  lastInteractionBy   221470 non-null  object
 19  lastInteractionIn   221470 non-null  datetime64[ns]
 20  followers           221470 non-null  object
 21  tags                221470 non-null  object
 22  auto_filter         0 non-null       float64
 23  Cretaed_Timestamp   221470 non-null  datetime64[ns]
 24  Updaqted_Timestamp  221470 non-null  datetime64[ns]
dtypes: datetime64[ns](5), float64(2), object(18)
memory usage: 42.2+ MB

In [20]:
customerAddress.describe()

,countryfake,createdIn,updatedIn,lastInteractionIn,auto_filter,Cretaed_Timestamp,Updaqted_Timestamp
count,0.0,221470,2820,221470,0.0,221470,221470
mean,NaN,2022-04-05 21:32:30.830360832,2022-02-13 13:57:33.191489536,2022-04-05 22:15:54.982616320,NaN,2022-04-18 03:17:55.536719104,2022-04-18 03:17:55.536719104
min,NaN,2021-01-01 00:00:00,2021-01-02 00:00:00,2021-01-01 00:00:00,NaN,2021-01-03 03:00:36.780000,2021-01-03 03:00:36.780000
25%,NaN,2021-12-17 00:00:00,2021-11-04 06:00:00,2021-12-17 00:00:00,NaN,2021-12-18 04:51:09.707000064,2021-12-18 04:51:09.707000064
50%,NaN,2022-05-10 01:00:00,2022-04-25 01:00:00,2022-05-10 01:00:00,NaN,2022-05-11 14:52:16.167000064,2022-05-11 14:52:16.167000064
75%,NaN,2022-07-17 01:00:00,2022-07-09 01:00:00,2022-07-17 01:00:00,NaN,2022-07-18 05:48:07.489999872,2022-07-18 05:48:07.489999872
max,NaN,2022-11-16 00:00:00,2022-11-16 00:00:00,2022-11-16 00:00:00,NaN,2022-11-16 14:49:18.217000,2022-11-16 14:49:18.217000
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## General Order Detail