In [23]:
import pandas as pd

## leer 6 archivos de excel distintos
customerAddress = pd.read_csv("../data/raw/200K_CustomerAddress.csv")
generalOrder= pd.read_csv("../data/raw/200K_GeneralOrderDetail.csv")
individualCustomer = pd.read_csv("../data/raw/200K_IndividualCustomer.csv")
ordersList = pd.read_csv("../data/raw/200K_OrdersList.csv")
productOrderDetail = pd.read_csv("../data/raw/200K_ProductOrderDetail.csv")
productCatalog = pd.read_csv("../data/raw/Product_Catalog.csv")

/var/folders/jn/dc5313mj0qs72qr08qqw3w3r0000gn/T/ipykernel_22662/2328653297.py:4: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  customerAddress = pd.read_csv("../data/raw/200K_CustomerAddress.csv")
/var/folders/jn/dc5313mj0qs72qr08qqw3w3r0000gn/T/ipykernel_22662/2328653297.py:5: DtypeWarning: Columns (8,39) have mixed types. Specify dtype option on import or set low_memory=False.
  generalOrder= pd.read_csv("../data/raw/200K_GeneralOrderDetail.csv")
/var/folders/jn/dc5313mj0qs72qr08qqw3w3r0000gn/T/ipykernel_22662/2328653297.py:6: DtypeWarning: Columns (7,8,25) have mixed types. Specify dtype option on import or set low_memory=False.
  individualCustomer = pd.read_csv("../data/raw/200K_IndividualCustomer.csv")
/var/folders/jn/dc5313mj0qs72qr08qqw3w3r0000gn/T/ipykernel_22662/2328653297.py:7: DtypeWarning: Columns (9,12,24) have mixed types. Specify dtype option on import or set low_memory=False.
  ordersList = pd.read_csv("../data/raw/200K_OrdersList.csv")
/var/folders/jn/dc5313mj0qs72qr08qqw3w3r0000gn/T/ipykernel_22662/2328653297.py:8: DtypeWarning: Columns (4,7,18,30,32,33,101,102,103,105) have mixed types. Specify dtype option on import or set low_memory=False.
  productOrderDetail = pd.read_csv("../data/raw/200K_ProductOrderDetail.csv")

# DATA EXPLORATORY ANALYSIS

## 1. Customer Address

In [38]:
customerAddress.head(10)

,addressName,addressType,city,country,countryfake,geoCoordinate,neighborhood,postalCode,state,userId,...,createdIn,updatedBy,updatedIn,lastInteractionBy,lastInteractionIn,followers,tags,auto_filter,Cretaed_Timestamp,Updaqted_Timestamp
0,b7f847462a984eaea560b8b79,residential,GUADALUPE,MEX,NaN,"[-100.2056884765625, 25.717365264892578]",Serena,67129,NUEVO LEÓN,70f350f5-f62e-11ec-835d-0a8fb171123f,...,2022-06-28 01:00:00,NaN,NaN,80ec8b10-25b7-48de-b425-7b93554002cb,2022-06-28 01:00:00,[],[],NaN,2022-06-29 16:49:55,2022-06-29 16:49:55
1,b7999b2bcf154649a42ec1e66,residential,SAN NICOLÁS DE LOS GARZA,MEX,NaN,"[-100.27811644319432, 25.74423676411608]",Las Puentes Sector 1,66460,NUEVO LEÓN,c21ef477-e9c4-11ec-835d-02978ed58bf1,...,2022-06-28 01:00:00,NaN,NaN,80ec8b10-25b7-48de-b425-7b93554002cb,2022-06-28 01:00:00,[],[],NaN,2022-06-29 16:49:55,2022-06-29 16:49:55
2,050e6f3891bf4708aa69bc703,residential,MONTERREY,MEX,NaN,"[-100.26667022705078, 25.69341278076172]",Fontanares Churubusco Sur,64540,NUEVO LEÓN,66021709-f670-11ec-835d-16b245a39a51,...,2022-06-28 01:00:00,NaN,NaN,80ec8b10-25b7-48de-b425-7b93554002cb,2022-06-28 01:00:00,[],[],NaN,2022-06-29 16:49:55,2022-06-29 16:49:55
3,e80996901a5c43cba050796fb,residential,XOCHIMILCO,MEX,NaN,"[-99.16278076171875, 19.291709899902344]",San Lorenzo La Cebada,16035,CIUDAD DE MÉXICO,79e873e1-e2c7-11ec-835d-1205375cb899,...,2022-06-28 01:00:00,NaN,NaN,80ec8b10-25b7-48de-b425-7b93554002cb,2022-06-28 01:00:00,[],[],NaN,2022-06-29 16:49:55,2022-06-29 16:49:55
4,651e1032d4604100a9d409749,residential,GUADALUPE,MEX,NaN,"[-100.24179077148438, 25.6845645904541]",Azteca,67150,NUEVO LEÓN,89975ae6-f33a-11ec-835d-0ef358621195,...,2022-06-28 01:00:00,NaN,NaN,80ec8b10-25b7-48de-b425-7b93554002cb,2022-06-28 01:00:00,[],[],NaN,2022-06-29 16:49:55,2022-06-29 16:49:55
5,ea3e0f5bb23e47efac1b03e46,residential,MONTERREY,MEX,NaN,"[-100.30682373046875, 25.643972396850586]",Independencia,64720,NUEVO LEÓN,74dc8cff-e529-11ec-835d-12a16ce67027,...,2022-06-28 01:00:00,NaN,NaN,80ec8b10-25b7-48de-b425-7b93554002cb,2022-06-28 01:00:00,[],[],NaN,2022-06-29 16:49:55,2022-06-29 16:49:55
6,fbc61a1465db458e8b3cd321a,residential,ZAPOPAN,MEX,NaN,"[-103.4146957397461, 20.72429656982422]",Santa Margarita,45140,JALISCO,1266e1ef-f24f-11eb-82ac-169197452e1f,...,2022-06-28 01:00:00,NaN,NaN,80ec8b10-25b7-48de-b425-7b93554002cb,2022-06-28 01:00:00,[],[],NaN,2022-06-29 16:49:55,2022-06-29 16:49:55
7,2f20645cb5cd4b3b89c2801aa,residential,SOLIDARIDAD,MEX,NaN,"[-87.07501220703125, 20.622051239013672]",Ejidal,77712,QUINTANA ROO,2f2df389-d61f-11ec-835d-162bfe278319,...,2022-06-28 01:00:00,NaN,NaN,80ec8b10-25b7-48de-b425-7b93554002cb,2022-06-28 01:00:00,[],[],NaN,2022-06-29 16:49:55,2022-06-29 16:49:55
8,6fa561872264413a9acf8dbdb,residential,HERMOSILLO,MEX,NaN,"[-118.24368286132812, 34.0522346496582]",Insurgentes,83106,SONORA,5dcb1bb6-d07a-11ec-835d-0e35bba2c857,...,2022-06-28 01:00:00,NaN,NaN,80ec8b10-25b7-48de-b425-7b93554002cb,2022-06-28 01:00:00,[],[],NaN,2022-06-29 16:49:55,2022-06-29 16:49:55
9,98b9a964dffd4eaab07810671,residential,MONTERREY,MEX,NaN,"[-100.28665924072266, 25.66676139831543]",Buenos Aires,64800,NUEVO LEÓN,e315b767-7152-11eb-82ac-02fd26639ecf,...,2022-06-28 01:00:00,NaN,NaN,80ec8b10-25b7-48de-b425-7b93554002cb,2022-06-28 01:00:00,[],[],NaN,2022-06-29 16:49:55,2022-06-29 16:49:55

In [39]:
customerAddress.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 221470 entries, 0 to 221469
Data columns (total 25 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   addressName         221470 non-null  object
 1   addressType         221470 non-null  object
 2   city                221470 non-null  object
 3   country             221470 non-null  object
 4   countryfake         0 non-null       float64
 5   geoCoordinate       221423 non-null  object
 6   neighborhood        217181 non-null  object
 7   postalCode          221470 non-null  object
 8   state               221470 non-null  object
 9   userId              221470 non-null  object
 10  id                  221470 non-null  object
 11  accountId           221470 non-null  object
 12  accountName         221470 non-null  object
 13  dataEntityId        221470 non-null  object
 14  createdBy           221470 non-null  object
 15  createdIn           221470 non-null  object
 16  updatedBy           2820 non-null    object
 17  updatedIn           2820 non-null    object
 18  lastInteractionBy   221470 non-null  object
 19  lastInteractionIn   221470 non-null  object
 20  followers           221470 non-null  object
 21  tags                221470 non-null  object
 22  auto_filter         0 non-null       float64
 23  Cretaed_Timestamp   221470 non-null  object
 24  Updaqted_Timestamp  221470 non-null  object
dtypes: float64(2), object(23)
memory usage: 42.2+ MB

In [40]:
customerAddress.describe()

       countryfake  auto_filter
count          0.0          0.0
mean           NaN          NaN
std            NaN          NaN
min            NaN          NaN
25%            NaN          NaN
50%            NaN          NaN
75%            NaN          NaN
max            NaN          NaN

In [79]:
customerAddress.duplicated().sum()

np.int64(33)

In [41]:
customerAddress.isnull().sum()

addressName                0
addressType                0
city                       0
country                    0
countryfake           221470
geoCoordinate             47
neighborhood            4289
postalCode                 0
state                      0
userId                     0
id                         0
accountId                  0
accountName                0
dataEntityId               0
createdBy                  0
createdIn                  0
updatedBy             218650
updatedIn             218650
lastInteractionBy          0
lastInteractionIn          0
followers                  0
tags                       0
auto_filter           221470
Cretaed_Timestamp          0
Updaqted_Timestamp         0
dtype: int64

In [80]:
customerAddress.dtypes

addressName            object
addressType            object
city                   object
country                object
countryfake           float64
geoCoordinate          object
neighborhood           object
postalCode             object
state                  object
userId                 object
id                     object
accountId              object
accountName            object
dataEntityId           object
createdBy              object
createdIn              object
updatedBy              object
updatedIn              object
lastInteractionBy      object
lastInteractionIn      object
followers              object
tags                   object
auto_filter           float64
Cretaed_Timestamp      object
Updaqted_Timestamp     object
dtype: object

In [43]:
customerAddress.nunique()

addressName           56229
addressType               3
city                   2717
country                   6
countryfake               0
geoCoordinate          6592
neighborhood          20398
postalCode            10759
state                   163
userId                50153
id                    56233
accountId                 9
accountName              13
dataEntityId              1
createdBy               391
createdIn               685
updatedBy               206
updatedIn               511
lastInteractionBy       398
lastInteractionIn       685
followers                 1
tags                      1
auto_filter               0
Cretaed_Timestamp      8669
Updaqted_Timestamp     8669
dtype: int64

In [81]:
customerAddress.columns

Index(['addressName', 'addressType', 'city', 'country', 'countryfake',
       'geoCoordinate', 'neighborhood', 'postalCode', 'state', 'userId', 'id',
       'accountId', 'accountName', 'dataEntityId', 'createdBy', 'createdIn',
       'updatedBy', 'updatedIn', 'lastInteractionBy', 'lastInteractionIn',
       'followers', 'tags', 'auto_filter', 'Cretaed_Timestamp',
       'Updaqted_Timestamp'],
      dtype='object')

## 2. General Order Detail

In [27]:
generalOrder.head(10)

,Country,orderId,sequence,marketplaceOrderId,sellerOrderId,origin,affiliateId,salesChannel,merchantName,status,...,ClientId,RequestedByUser,RequestedBySystem,RequestedBySellerNotification,RequestedByPaymentNotification,RequestedByReason,cancellationData.Date,Cretaed_Timestamp,Updaqted_Timestamp,SourceSite
0,CO,MLB-41370001211,850110346,41370001211,NaN,Fulfillment,MLB,4,NaN,handling,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022-05-10 00:40:13,2022-05-10 00:40:13,WHR CO
1,MX,LKT-v33516186ekt-01,520003,v33516186ekt-01,NaN,Fulfillment,LKT,4,NaN,invoiced,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021-11-24 11:13:36,2021-11-24 11:13:36,ACR MX
2,CO,MLB-41378800118,850110330,41378800118,NaN,Fulfillment,MLB,4,NaN,handling,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022-05-10 00:40:13,2022-05-10 00:40:13,WHR CO
3,MX,1167881777015-01,510055,NaN,00-1167881777015-01,Marketplace,NaN,3,NaN,invoiced,...,a68e2d84-7781-467f-8c2b-05f570060001,NaN,NaN,NaN,NaN,NaN,NaN,2021-11-24 11:13:36,2021-11-24 11:13:36,ACR MX
4,CO,v850110335wcol-01,850110335,NaN,00-v850110335wcol-01,Marketplace,NaN,1,NaN,canceled,...,26fb40af-2a67-450f-8b6d-dbdb4e1880fb,True,NaN,NaN,NaN,No se aprobó el pago así que volveré a comprar,2022-05-18 01:00:00,2022-05-10 00:40:13,2022-05-10 00:40:13,WHR CO
5,CO,v850110320wcol-01,850110320,NaN,00-v850110320wcol-01,Marketplace,NaN,1,NaN,handling,...,e56a651e-03ae-4120-a1fd-d41cc1e2df30,NaN,NaN,NaN,NaN,NaN,NaN,2022-05-10 00:40:13,2022-05-10 00:40:13,WHR CO
6,CO,v850110327wcol-01,850110327,NaN,00-v850110327wcol-01,Marketplace,NaN,1,NaN,handling,...,dc6446e0-12ea-44a4-b370-5f67aa10708b,NaN,NaN,NaN,NaN,NaN,NaN,2022-05-10 00:40:13,2022-05-10 00:40:13,WHR CO
7,CO,MLB-41380176754,850110322,41380176754,NaN,Fulfillment,MLB,4,NaN,handling,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022-05-10 00:40:13,2022-05-10 00:40:13,WHR CO
8,CO,v850110320wcol-01,850110320,NaN,00-v850110320wcol-01,Marketplace,NaN,1,NaN,handling,...,0e8068b0-7d14-40e5-a548-7f85eb36f316,NaN,NaN,NaN,NaN,NaN,NaN,2022-05-10 00:40:13,2022-05-10 00:40:13,WHR CO
9,CO,v805106741kaco-01,805106741,NaN,00-v805106741kaco-01,Marketplace,NaN,1,NaN,handling,...,4a6566f0-0aa5-4f6b-8f70-25146200fe02,NaN,NaN,NaN,NaN,NaN,NaN,2022-06-12 00:48:53,2022-06-12 00:48:53,KAID CO

In [32]:
generalOrder.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67934 entries, 0 to 67933
Data columns (total 46 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Country                         67934 non-null  object
 1   orderId                         67934 non-null  object
 2   sequence                        67934 non-null  int64
 3   marketplaceOrderId              4950 non-null   object
 4   sellerOrderId                   62984 non-null  object
 5   origin                          67934 non-null  object
 6   affiliateId                     4950 non-null   object
 7   salesChannel                    67934 non-null  int64
 8   merchantName                    1 non-null      object
 9   status                          67933 non-null  object
 10  statusDescription               67927 non-null  object
 11  value                           67934 non-null  float64
 12  creationDate                    67934 non-null  object
 13  lastChange                      67934 non-null  object
 14  orderGroup                      62984 non-null  object
 15  marketplaceItems                67934 non-null  object
 16  giftRegistryData                0 non-null      float64
 17  ratesAndBenefitsData            27834 non-null  object
 18  followUpEmail                   67934 non-null  object
 19  lastMessage                     0 non-null      float64
 20  hostname                        67934 non-null  object
 21  changesAttachment               0 non-null      float64
 22  openTextField                   3766 non-null   object
 23  roundingError                   67934 non-null  int64
 24  orderFormId                     62984 non-null  object
 25  commercialConditionData         0 non-null      float64
 26  isCompleted                     67934 non-null  bool
 27  allowCancellation               67934 non-null  bool
 28  allowEdition                    67934 non-null  bool
 29  isCheckedIn                     67934 non-null  bool
 30  authorizedDate                  58064 non-null  object
 31  invoicedDate                    26705 non-null  object
 32  cancelReason                    636 non-null    object
 33  subscriptionData                0 non-null      float64
 34  taxData                         0 non-null      float64
 35  checkedInPickupPointId          0 non-null      float64
 36  ClientId                        62984 non-null  object
 37  RequestedByUser                 8217 non-null   object
 38  RequestedBySystem               18 non-null     object
 39  RequestedBySellerNotification   15 non-null     object
 40  RequestedByPaymentNotification  7399 non-null   object
 41  RequestedByReason               382 non-null    object
 42  cancellationData.Date           9173 non-null   object
 43  Cretaed_Timestamp               67934 non-null  object
 44  Updaqted_Timestamp              67934 non-null  object
 45  SourceSite                      67934 non-null  object
dtypes: bool(4), float64(8), int64(3), object(31)
memory usage: 22.0+ MB

In [33]:
generalOrder.describe()

,sequence,salesChannel,value,giftRegistryData,lastMessage,changesAttachment,roundingError,commercialConditionData,subscriptionData,taxData,checkedInPickupPointId
count,6.793400e+04,67934.000000,6.793400e+04,0.0,0.0,0.0,67934.0,0.0,0.0,0.0,0.0
mean,3.096779e+08,1.856213,3.586325e+07,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
std,4.032522e+08,1.253834,7.890474e+07,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
min,1.300000e+04,1.000000,0.000000e+00,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
25%,5.461115e+05,1.000000,2.500000e+05,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
50%,6.274200e+05,1.000000,7.777780e+05,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
75%,8.051153e+08,3.000000,3.703704e+07,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
max,8.501232e+08,8.000000,1.439506e+09,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN

In [34]:
generalOrder.duplicated().sum()

np.int64(0)

In [35]:
generalOrder.isnull().sum()

Country                               0
orderId                               0
sequence                              0
marketplaceOrderId                62984
sellerOrderId                      4950
origin                                0
affiliateId                       62984
salesChannel                          0
merchantName                      67933
status                                1
statusDescription                     7
value                                 0
creationDate                          0
lastChange                            0
orderGroup                         4950
marketplaceItems                      0
giftRegistryData                  67934
ratesAndBenefitsData              40100
followUpEmail                         0
lastMessage                       67934
hostname                              0
changesAttachment                 67934
openTextField                     64168
roundingError                         0
orderFormId                        4950
commercialConditionData           67934
isCompleted                           0
allowCancellation                     0
allowEdition                          0
isCheckedIn                           0
authorizedDate                     9870
invoicedDate                      41229
cancelReason                      67298
subscriptionData                  67934
taxData                           67934
checkedInPickupPointId            67934
ClientId                           4950
RequestedByUser                   59717
RequestedBySystem                 67916
RequestedBySellerNotification     67919
RequestedByPaymentNotification    60535
RequestedByReason                 67552
cancellationData.Date             58761
Cretaed_Timestamp                     0
Updaqted_Timestamp                    0
SourceSite                            0
dtype: int64

In [36]:
generalOrder.dtypes

Country                            object
orderId                            object
sequence                            int64
marketplaceOrderId                 object
sellerOrderId                      object
origin                             object
affiliateId                        object
salesChannel                        int64
merchantName                       object
status                             object
statusDescription                  object
value                             float64
creationDate                       object
lastChange                         object
orderGroup                         object
marketplaceItems                   object
giftRegistryData                  float64
ratesAndBenefitsData               object
followUpEmail                      object
lastMessage                       float64
hostname                           object
changesAttachment                 float64
openTextField                      object
roundingError                       int64
orderFormId                        object
commercialConditionData           float64
isCompleted                          bool
allowCancellation                    bool
allowEdition                         bool
isCheckedIn                          bool
authorizedDate                     object
invoicedDate                       object
cancelReason                       object
subscriptionData                  float64
taxData                           float64
checkedInPickupPointId            float64
ClientId                           object
RequestedByUser                    object
RequestedBySystem                  object
RequestedBySellerNotification      object
RequestedByPaymentNotification     object
RequestedByReason                  object
cancellationData.Date              object
Cretaed_Timestamp                  object
Updaqted_Timestamp                 object
SourceSite                         object
dtype: object

In [37]:
generalOrder.nunique()

Country                               6
orderId                           59310
sequence                          51405
marketplaceOrderId                 4832
sellerOrderId                     54450
origin                                2
affiliateId                           9
salesChannel                          7
merchantName                          1
status                               14
statusDescription                    14
value                             10276
creationDate                        630
lastChange                          630
orderGroup                        40810
marketplaceItems                      1
giftRegistryData                      0
ratesAndBenefitsData                520
followUpEmail                     56618
lastMessage                           0
hostname                             15
changesAttachment                     0
openTextField                       414
roundingError                         1
orderFormId                       55585
commercialConditionData               0
isCompleted                           1
allowCancellation                     2
allowEdition                          1
isCheckedIn                           1
authorizedDate                    52085
invoicedDate                      23221
cancelReason                        233
subscriptionData                      0
taxData                               0
checkedInPickupPointId                0
ClientId                          44925
RequestedByUser                       2
RequestedBySystem                     1
RequestedBySellerNotification         1
RequestedByPaymentNotification        1
RequestedByReason                   129
cancellationData.Date               627
Cretaed_Timestamp                   407
Updaqted_Timestamp                  407
SourceSite                           12
dtype: int64

In [53]:
generalOrder.columns

Index(['Country', 'orderId', 'sequence', 'marketplaceOrderId', 'sellerOrderId',
       'origin', 'affiliateId', 'salesChannel', 'merchantName', 'status',
       'statusDescription', 'value', 'creationDate', 'lastChange',
       'orderGroup', 'marketplaceItems', 'giftRegistryData',
       'ratesAndBenefitsData', 'followUpEmail', 'lastMessage', 'hostname',
       'changesAttachment', 'openTextField', 'roundingError', 'orderFormId',
       'commercialConditionData', 'isCompleted', 'allowCancellation',
       'allowEdition', 'isCheckedIn', 'authorizedDate', 'invoicedDate',
       'cancelReason', 'subscriptionData', 'taxData', 'checkedInPickupPointId',
       'ClientId', 'RequestedByUser', 'RequestedBySystem',
       'RequestedBySellerNotification', 'RequestedByPaymentNotification',
       'RequestedByReason', 'cancellationData.Date', 'Cretaed_Timestamp',
       'Updaqted_Timestamp', 'SourceSite'],
      dtype='object')

## 3. Individual Customer

In [45]:
individualCustomer.head(10)

,Country,isCorporate,tradeName,rclastcart,rclastcartvalue,rclastsession,rclastsessiondate,homePhone,phone,businessPhone,...,createdIn,updatedBy,updatedIn,lastInteractionBy,lastInteractionIn,followers,tags,auto_filter,Cretaed_Timestamp,Updaqted_Timestamp
0,MX,0.0,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,...,2022-05-12 01:00:00,1d30027b-1293-4e28-90d0-8dea26a87031,2022-05-12 01:00:00,1d30027b-1293-4e28-90d0-8dea26a87031,2022-05-12 01:00:00,[],[],NaN,2022-05-14 00:49:56,2022-05-14 00:49:56
1,MX,0.0,NaN,NaN,0,NaN,NaN,198111968099.0,NaN,NaN,...,2022-05-12 01:00:00,4a63ecb4-cb17-44a9-a284-6b5a4d76ea48,2022-05-12 01:00:00,4a63ecb4-cb17-44a9-a284-6b5a4d76ea48,2022-05-12 01:00:00,[],[],NaN,2022-05-14 00:49:56,2022-05-14 00:49:56
2,MX,0.0,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,...,2022-05-12 01:00:00,1d30027b-1293-4e28-90d0-8dea26a87031,2022-05-12 01:00:00,1d30027b-1293-4e28-90d0-8dea26a87031,2022-05-12 01:00:00,[],[],NaN,2022-05-14 00:49:56,2022-05-14 00:49:56
3,MX,0.0,NaN,add?sku=3013&qty=1&seller=1&sku=999990&qty=1&s...,402911,cfa5641b-1212-45d3-b808-849b1c30e3c1,2022-05-12 01:00:00,198194940697.0,NaN,NaN,...,2022-05-12 01:00:00,80ec8b10-25b7-48de-b425-7b93554002cb,2022-05-12 01:00:00,80ec8b10-25b7-48de-b425-7b93554002cb,2022-05-12 01:00:00,[],[],NaN,2022-05-14 00:49:56,2022-05-14 00:49:56
4,MX,1.0,NaN,add?sku=3382&qty=1&seller=1&sc=3,266728,4c369edb-d271-4e17-8f2b-f95d67031568,2022-05-12 01:00:00,NaN,NaN,NaN,...,2022-05-12 01:00:00,80ec8b10-25b7-48de-b425-7b93554002cb,2022-05-12 01:00:00,80ec8b10-25b7-48de-b425-7b93554002cb,2022-05-12 01:00:00,[],[],NaN,2022-05-14 00:49:56,2022-05-14 00:49:56
5,MX,0.0,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,...,2022-05-12 01:00:00,1d30027b-1293-4e28-90d0-8dea26a87031,2022-05-12 01:00:00,1d30027b-1293-4e28-90d0-8dea26a87031,2022-05-12 01:00:00,[],[],NaN,2022-05-14 00:49:56,2022-05-14 00:49:56
6,MX,1.0,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,...,2022-05-12 01:00:00,1d30027b-1293-4e28-90d0-8dea26a87031,2022-05-12 01:00:00,1d30027b-1293-4e28-90d0-8dea26a87031,2022-05-12 01:00:00,[],[],NaN,2022-05-14 00:49:56,2022-05-14 00:49:56
7,MX,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,...,2022-05-12 01:00:00,fa0ff228-7c5c-4625-8e59-ff673dc933fc,2022-05-12 01:00:00,fa0ff228-7c5c-4625-8e59-ff673dc933fc,2022-05-12 01:00:00,[],[],NaN,2022-05-14 00:49:56,2022-05-14 00:49:56
8,MX,0.0,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,...,2022-05-12 01:00:00,1d30027b-1293-4e28-90d0-8dea26a87031,2022-05-12 01:00:00,1d30027b-1293-4e28-90d0-8dea26a87031,2022-05-12 01:00:00,[],[],NaN,2022-05-14 00:49:56,2022-05-14 00:49:56
9,CO,NaN,NaN,add?sku=723&qty=1&seller=1&sc=1,25036809,fecb6e45-703a-4798-9146-c47099e8bb47,2022-03-11 00:00:00,NaN,NaN,NaN,...,2022-03-11 00:00:00,80ec8b10-25b7-48de-b425-7b93554002cb,2022-03-11 00:00:00,80ec8b10-25b7-48de-b425-7b93554002cb,2022-03-11 00:00:00,[],[],NaN,2022-03-13 00:08:12,2022-03-13 00:08:12

In [46]:
individualCustomer.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 178494 entries, 0 to 178493
Data columns (total 53 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   Country                            178494 non-null  object
 1   isCorporate                        81160 non-null   object
 2   tradeName                          296 non-null     object
 3   rclastcart                         77415 non-null   object
 4   rclastcartvalue                    178494 non-null  int64
 5   rclastsession                      95848 non-null   object
 6   rclastsessiondate                  95848 non-null   object
 7   homePhone                          48979 non-null   object
 8   phone                              26442 non-null   object
 9   businessPhone                      782 non-null     object
 10  brandPurchasedTag                  23171 non-null   object
 11  brandVisitedTag                    39881 non-null   object
 12  categoryPurchasedTag               23171 non-null   object
 13  categoryVisitedTag                 14465 non-null   object
 14  departmentVisitedTag               6149 non-null    object
 15  productPurchasedTag                178494 non-null  float64
 16  productVisitedTag                  178494 non-null  float64
 17  email                              178492 non-null  object
 18  userId                             111980 non-null  object
 19  firstName                          107002 non-null  object
 20  lastName                           75604 non-null   object
 21  document                           24352 non-null   object
 22  isNewsletterOptIn                  178494 non-null  bool
 23  localeDefault                      41350 non-null   object
 24  attach                             0 non-null       float64
 25  approved                           622 non-null     object
 26  birthDate                          13730 non-null   object
 27  carttag                            178494 non-null  float64
 28  checkouttag                        55683 non-null   object
 29  corporateDocument                  20092 non-null   object
 30  corporateName                      20199 non-null   object
 31  documentType                       23027 non-null   object
 32  gender                             9272 non-null    object
 33  visitedProductWithStockOutSkusTag  4092 non-null    float64
 34  customerClass                      0 non-null       float64
 35  priceTables                        28372 non-null   object
 36  profilePicture                     0 non-null       float64
 37  birthDateMonth                     13695 non-null   float64
 38  id                                 178494 non-null  object
 39  accountId                          178494 non-null  object
 40  accountName                        178494 non-null  object
 41  dataEntityId                       178494 non-null  object
 42  createdBy                          71129 non-null   object
 43  createdIn                          178494 non-null  object
 44  updatedBy                          103629 non-null  object
 45  updatedIn                          107848 non-null  object
 46  lastInteractionBy                  71217 non-null   object
 47  lastInteractionIn                  178494 non-null  object
 48  followers                          178494 non-null  object
 49  tags                               178494 non-null  object
 50  auto_filter                        0 non-null       float64
 51  Cretaed_Timestamp                  178494 non-null  object
 52  Updaqted_Timestamp                 178494 non-null  object
dtypes: bool(1), float64(9), int64(1), object(42)
memory usage: 71.0+ MB

In [47]:
individualCustomer.describe()

,rclastcartvalue,productPurchasedTag,productVisitedTag,attach,carttag,visitedProductWithStockOutSkusTag,customerClass,profilePicture,birthDateMonth,auto_filter
count,1.784940e+05,178494.000000,178494.000000,0.0,1.784940e+05,4.092000e+03,0.0,0.0,13695.000000,0.0
mean,7.937190e+06,44.917952,66.900154,NaN,7.937190e+04,6.753092e+03,NaN,NaN,7.231398,NaN
std,3.506842e+07,170.253243,195.510355,NaN,3.506842e+05,7.944315e+04,NaN,NaN,3.252996,NaN
min,0.000000e+00,0.000000,0.000000,NaN,0.000000e+00,2.000000e+00,NaN,NaN,1.000000,NaN
25%,0.000000e+00,0.000000,0.000000,NaN,0.000000e+00,1.260000e+02,NaN,NaN,5.000000,NaN
50%,0.000000e+00,0.000000,0.000000,NaN,0.000000e+00,2.330000e+02,NaN,NaN,7.000000,NaN
75%,2.667280e+05,0.000000,0.000000,NaN,2.667280e+03,3.820000e+02,NaN,NaN,10.000000,NaN
max,1.976863e+09,1758.000000,1758.000000,NaN,1.976863e+07,1.000126e+06,NaN,NaN,12.000000,NaN

In [48]:
individualCustomer.duplicated().sum()

np.int64(0)

In [49]:
individualCustomer.isnull().sum()

Country                                   0
isCorporate                           97334
tradeName                            178198
rclastcart                           101079
rclastcartvalue                           0
rclastsession                         82646
rclastsessiondate                     82646
homePhone                            129515
phone                                152052
businessPhone                        177712
brandPurchasedTag                    155323
brandVisitedTag                      138613
categoryPurchasedTag                 155323
categoryVisitedTag                   164029
departmentVisitedTag                 172345
productPurchasedTag                       0
productVisitedTag                         0
email                                     2
userId                                66514
firstName                             71492
lastName                             102890
document                             154142
isNewsletterOptIn                         0
localeDefault                        137144
attach                               178494
approved                             177872
birthDate                            164764
carttag                                   0
checkouttag                          122811
corporateDocument                    158402
corporateName                        158295
documentType                         155467
gender                               169222
visitedProductWithStockOutSkusTag    174402
customerClass                        178494
priceTables                          150122
profilePicture                       178494
birthDateMonth                       164799
id                                        0
accountId                                 0
accountName                               0
dataEntityId                              0
createdBy                            107365
createdIn                                 0
updatedBy                             74865
updatedIn                             70646
lastInteractionBy                    107277
lastInteractionIn                         0
followers                                 0
tags                                      0
auto_filter                          178494
Cretaed_Timestamp                         0
Updaqted_Timestamp                        0
dtype: int64

In [50]:
individualCustomer.dtypes

Country                               object
isCorporate                           object
tradeName                             object
rclastcart                            object
rclastcartvalue                        int64
rclastsession                         object
rclastsessiondate                     object
homePhone                             object
phone                                 object
businessPhone                         object
brandPurchasedTag                     object
brandVisitedTag                       object
categoryPurchasedTag                  object
categoryVisitedTag                    object
departmentVisitedTag                  object
productPurchasedTag                  float64
productVisitedTag                    float64
email                                 object
userId                                object
firstName                             object
lastName                              object
document                              object
isNewsletterOptIn                       bool
localeDefault                         object
attach                               float64
approved                              object
birthDate                             object
carttag                              float64
checkouttag                           object
corporateDocument                     object
corporateName                         object
documentType                          object
gender                                object
visitedProductWithStockOutSkusTag    float64
customerClass                        float64
priceTables                           object
profilePicture                       float64
birthDateMonth                       float64
id                                    object
accountId                             object
accountName                           object
dataEntityId                          object
createdBy                             object
createdIn                             object
updatedBy                             object
updatedIn                             object
lastInteractionBy                     object
lastInteractionIn                     object
followers                             object
tags                                  object
auto_filter                          float64
Cretaed_Timestamp                     object
Updaqted_Timestamp                    object
dtype: object

In [51]:
individualCustomer.nunique()

Country                                   6
isCorporate                               4
tradeName                               249
rclastcart                             8400
rclastcartvalue                        9925
rclastsession                         95841
rclastsessiondate                       687
homePhone                             47904
phone                                 25951
businessPhone                           770
brandPurchasedTag                         6
brandVisitedTag                           8
categoryPurchasedTag                    160
categoryVisitedTag                      115
departmentVisitedTag                     32
productPurchasedTag                     927
productVisitedTag                       964
email                                174115
userId                               109678
firstName                             47707
lastName                              41292
document                              23533
isNewsletterOptIn                         2
localeDefault                             7
attach                                    0
approved                                  6
birthDate                              5650
carttag                                9925
checkouttag                               5
corporateDocument                      1347
corporateName                          1235
documentType                             13
gender                                    3
visitedProductWithStockOutSkusTag       613
customerClass                             0
priceTables                               9
profilePicture                            0
birthDateMonth                           10
id                                   178494
accountId                                10
accountName                              14
dataEntityId                              1
createdBy                               186
createdIn                               683
updatedBy                               419
updatedIn                               683
lastInteractionBy                       204
lastInteractionIn                       683
followers                                 1
tags                                      1
auto_filter                               0
Cretaed_Timestamp                       460
Updaqted_Timestamp                      460
dtype: int64

In [52]:
individualCustomer.columns

Index(['Country', 'isCorporate', 'tradeName', 'rclastcart', 'rclastcartvalue',
       'rclastsession', 'rclastsessiondate', 'homePhone', 'phone',
       'businessPhone', 'brandPurchasedTag', 'brandVisitedTag',
       'categoryPurchasedTag', 'categoryVisitedTag', 'departmentVisitedTag',
       'productPurchasedTag', 'productVisitedTag', 'email', 'userId',
       'firstName', 'lastName', 'document', 'isNewsletterOptIn',
       'localeDefault', 'attach', 'approved', 'birthDate', 'carttag',
       'checkouttag', 'corporateDocument', 'corporateName', 'documentType',
       'gender', 'visitedProductWithStockOutSkusTag', 'customerClass',
       'priceTables', 'profilePicture', 'birthDateMonth', 'id', 'accountId',
       'accountName', 'dataEntityId', 'createdBy', 'createdIn', 'updatedBy',
       'updatedIn', 'lastInteractionBy', 'lastInteractionIn', 'followers',
       'tags', 'auto_filter', 'Cretaed_Timestamp', 'Updaqted_Timestamp'],
      dtype='object')

## 4. Order List

In [54]:
ordersList.head(10)

,Country,orderId,creationDate,cgimitixmm,items,totalValue,paymentNames,status,statusDescription,marketPlaceOrderId,...,Cretaed_Timestamp,Updaqted_Timestamp,lastChange,isAllDelivered,giftCardProviders,orderFormId,paymentApprovedDate,readyForHandlingDate,deliveryDates,SourceSite
0,MX,1252122705118-01,2022-08-06 01:00:00,mxxíx muxmiix vmgxzqumz smxixijmz,NaN,1000000.0,Mastercard,invoiced,Faturado,NaN,...,2022-08-08 00:48:30,2022-08-08 00:48:30,2022-08-06T05:01:09.0000000+00:00 ...,False ...,...,8d1a86858395413e996adeeac4b73cf2 ...,2022-08-06T04:05:21.0000000+00:00 ...,2022-08-06T04:05:31.0000000+00:00 ...,...,MAY MX
1,MX,1252101210546-01,2022-08-06 01:00:00,xxtuxo uxix Vázqumz oxgxzxx,NaN,2076420.0,Mastercard,ready-for-handling,Pronto para o manuseio,NaN,...,2022-08-08 00:48:30,2022-08-08 00:48:30,2022-08-06T02:20:20.0000000+00:00 ...,False ...,...,1ffaef07631d4dde83f6ab1032d60942 ...,2022-08-06T02:20:22.0000000+00:00 ...,2022-08-06T02:21:31.0000000+00:00 ...,...,WHR MX
2,MX,1252101210546-01,2022-08-06 01:00:00,xxtuxo uxix Vázqumz oxgxzxx,NaN,2076420.0,Mastercard,ready-for-handling,Pronto para o manuseio,NaN,...,2022-08-08 00:48:30,2022-08-08 00:48:30,2022-08-06T02:20:20.0000000+00:00 ...,False ...,...,1ffaef07631d4dde83f6ab1032d60942 ...,2022-08-06T02:20:22.0000000+00:00 ...,2022-08-06T02:21:31.0000000+00:00 ...,...,TWHR MX
3,MX,1252091674070-01,2022-08-06 01:00:00,cxxmmi gucix gormz xivmxx,NaN,520988.0,Mastercard,invoiced,Faturado,NaN,...,2022-08-08 00:48:30,2022-08-08 00:48:30,2022-08-06T03:01:25.0000000+00:00 ...,False ...,...,db2939ce6f77465eb3926302d260b0a2 ...,2022-08-06T01:48:10.0000000+00:00 ...,2022-08-06T01:48:13.0000000+00:00 ...,...,KAID MX
4,MX,1230641212076-01,2022-05-08 01:00:00,omxxio jxiimg Txmuo Vxxmgx,NaN,224074.0,American Express,invoiced,Faturado,NaN,...,2022-05-10 00:50:59,2022-05-10 00:50:59,2022-05-08T18:04:03.0000000+00:00 ...,False ...,...,7c333afa05fe405ba45e1afaf4ca69dd ...,2022-05-08T16:40:29.0000000+00:00 ...,2022-05-08T16:40:31.0000000+00:00 ...,...,KAID MX
5,MX,1248922738604-01,2022-07-23 01:00:00,Itzmg Yxgi xmymo xómmz,NaN,339506.0,PayPalPlus,invoiced,Faturado,NaN,...,2022-07-25 00:49:13,2022-07-25 00:49:13,2022-07-23T21:02:49.0000000+00:00 ...,False ...,...,cadf170c9aa24f448c7c38d578a42c7b ...,2022-07-23T19:45:52.0000000+00:00 ...,2022-07-23T19:46:00.0000000+00:00 ...,...,ACR MX
6,MX,1248871890834-01,2022-07-23 01:00:00,mxxixix mxgvxmz rmxxgtx,NaN,456790.0,American Express,invoiced,Faturado,NaN,...,2022-07-25 00:49:13,2022-07-25 00:49:13,2022-07-23T16:01:26.0000000+00:00 ...,False ...,...,4908fd6f0e174b12a593d1d0581b5d87 ...,2022-07-23T14:31:42.0000000+00:00 ...,2022-07-23T14:33:11.0000000+00:00 ...,...,WHR MX
7,PE,1248782310066-01,2022-07-23 01:00:00,gucix Fmgix,NaN,98765.0,PAGOEFECTIVOATM,payment-pending,Pagamento Pendente,NaN,...,2022-07-25 00:49:13,2022-07-25 00:49:13,2022-07-23T05:38:36.0000000+00:00 ...,False ...,...,66ae77abcfa14dffa6ed285f5cea0d2a ...,...,...,...,KAID PE
8,MX,1248720058558-01,2022-07-23 01:00:00,Cxyotxg Fxz,NaN,814815.0,Visa,invoiced,Faturado,NaN,...,2022-07-25 00:49:13,2022-07-25 00:49:13,2022-07-23T01:01:28.0000000+00:00 ...,False ...,...,39a6d6dd2f3a482bbc498b45eb104a7f ...,2022-07-23T00:01:10.0000000+00:00 ...,2022-07-23T00:02:13.0000000+00:00 ...,...,WHR MX
9,MX,1248892946427-01,2022-07-23 01:00:00,xomxi umouo Csávmz oibxixi,NaN,475309.0,Visa,invoiced,Faturado,NaN,...,2022-07-25 00:49:13,2022-07-25 00:49:13,2022-07-23T18:06:32.0000000+00:00 ...,False ...,...,c229a3c570a14d3d9ad462c0b7ffbcb6 ...,2022-07-23T17:09:19.0000000+00:00 ...,2022-07-23T17:09:22.0000000+00:00 ...,...,KAID MX

In [55]:
ordersList.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67831 entries, 0 to 67830
Data columns (total 40 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Country                   67831 non-null  object
 1   orderId                   67831 non-null  object
 2   creationDate              67831 non-null  object
 3   cgimitixmm                67831 non-null  object
 4   items                     0 non-null      float64
 5   totalValue                67831 non-null  float64
 6   paymentNames              62881 non-null  object
 7   status                    67830 non-null  object
 8   statusDescription         67824 non-null  object
 9   marketPlaceOrderId        4950 non-null   object
 10  sequence                  67831 non-null  int64
 11  salesChannel              67831 non-null  int64
 12  affiliateId               4950 non-null   object
 13  origin                    67831 non-null  object
 14  workflowInErrorState      67831 non-null  bool
 15  workflowInRetry           67831 non-null  bool
 16  lastMessageUnread         62754 non-null  object
 17  ShippingEstimatedDate     31190 non-null  object
 18  ShippingEstimatedDateMax  58156 non-null  object
 19  ShippingEstimatedDateMin  58156 non-null  object
 20  orderIsComplete           67831 non-null  bool
 21  listId                    0 non-null      float64
 22  listType                  0 non-null      float64
 23  authorizedDate            57982 non-null  object
 24  callCenterOperatorName    10 non-null     object
 25  totalItems                67831 non-null  int64
 26  currencyCode              67831 non-null  object
 27  hostname                  67831 non-null  object
 28  invoiceOutput             36891 non-null  object
 29  invoiceInput              0 non-null      float64
 30  Cretaed_Timestamp         67831 non-null  object
 31  Updaqted_Timestamp        67831 non-null  object
 32  lastChange                67831 non-null  object
 33  isAllDelivered            67831 non-null  object
 34  giftCardProviders         67831 non-null  object
 35  orderFormId               67831 non-null  object
 36  paymentApprovedDate       67831 non-null  object
 37  readyForHandlingDate      67831 non-null  object
 38  deliveryDates             67831 non-null  object
 39  SourceSite                67831 non-null  object
dtypes: bool(3), float64(5), int64(3), object(29)
memory usage: 19.3+ MB

In [56]:
ordersList.describe()

,items,totalValue,sequence,salesChannel,listId,listType,totalItems,invoiceInput
count,0.0,6.783100e+04,6.783100e+04,67831.000000,0.0,0.0,67831.000000,0.0
mean,NaN,3.591714e+07,3.271442e+08,1.857514,NaN,NaN,1.142678,NaN
std,NaN,7.895277e+07,4.195448e+08,1.254342,NaN,NaN,0.500879,NaN
min,NaN,0.000000e+00,5.000030e+05,1.000000,NaN,NaN,1.000000,NaN
25%,NaN,2.519445e+05,5.577070e+05,1.000000,NaN,NaN,1.000000,NaN
50%,NaN,7.777780e+05,6.304890e+05,1.000000,NaN,NaN,1.000000,NaN
75%,NaN,3.703704e+07,8.501013e+08,3.000000,NaN,NaN,1.000000,NaN
max,NaN,1.439556e+09,9.000144e+08,8.000000,NaN,NaN,15.000000,NaN

In [57]:
ordersList.duplicated().sum()

np.int64(0)

In [58]:
ordersList.isnull().sum()

Country                         0
orderId                         0
creationDate                    0
cgimitixmm                      0
items                       67831
totalValue                      0
paymentNames                 4950
status                          1
statusDescription               7
marketPlaceOrderId          62881
sequence                        0
salesChannel                    0
affiliateId                 62881
origin                          0
workflowInErrorState            0
workflowInRetry                 0
lastMessageUnread            5077
ShippingEstimatedDate       36641
ShippingEstimatedDateMax     9675
ShippingEstimatedDateMin     9675
orderIsComplete                 0
listId                      67831
listType                    67831
authorizedDate               9849
callCenterOperatorName      67821
totalItems                      0
currencyCode                    0
hostname                        0
invoiceOutput               30940
invoiceInput                67831
Cretaed_Timestamp               0
Updaqted_Timestamp              0
lastChange                      0
isAllDelivered                  0
giftCardProviders               0
orderFormId                     0
paymentApprovedDate             0
readyForHandlingDate            0
deliveryDates                   0
SourceSite                      0
dtype: int64

In [59]:
ordersList.dtypes

Country                      object
orderId                      object
creationDate                 object
cgimitixmm                   object
items                       float64
totalValue                  float64
paymentNames                 object
status                       object
statusDescription            object
marketPlaceOrderId           object
sequence                      int64
salesChannel                  int64
affiliateId                  object
origin                       object
workflowInErrorState           bool
workflowInRetry                bool
lastMessageUnread            object
ShippingEstimatedDate        object
ShippingEstimatedDateMax     object
ShippingEstimatedDateMin     object
orderIsComplete                bool
listId                      float64
listType                    float64
authorizedDate               object
callCenterOperatorName       object
totalItems                    int64
currencyCode                 object
hostname                     object
invoiceOutput                object
invoiceInput                float64
Cretaed_Timestamp            object
Updaqted_Timestamp           object
lastChange                   object
isAllDelivered               object
giftCardProviders            object
orderFormId                  object
paymentApprovedDate          object
readyForHandlingDate         object
deliveryDates                object
SourceSite                   object
dtype: object

In [60]:
ordersList.nunique()

Country                         6
orderId                     61475
creationDate                  672
cgimitixmm                  50207
items                           0
totalValue                  10315
paymentNames                   79
status                         13
statusDescription              13
marketPlaceOrderId           4950
sequence                    59342
salesChannel                    7
affiliateId                     9
origin                          2
workflowInErrorState            2
workflowInRetry                 2
lastMessageUnread           48393
ShippingEstimatedDate         664
ShippingEstimatedDateMax      687
ShippingEstimatedDateMin      686
orderIsComplete                 1
listId                          0
listType                        0
authorizedDate              51936
callCenterOperatorName          6
totalItems                     12
currencyCode                    5
hostname                       15
invoiceOutput               33090
invoiceInput                    0
Cretaed_Timestamp             385
Updaqted_Timestamp            385
lastChange                  42177
isAllDelivered                  1
giftCardProviders               3
orderFormId                 45528
paymentApprovedDate         39800
readyForHandlingDate        42909
deliveryDates                   6
SourceSite                     12
dtype: int64

In [61]:
ordersList.columns

Index(['Country', 'orderId', 'creationDate', 'cgimitixmm', 'items',
       'totalValue', 'paymentNames', 'status', 'statusDescription',
       'marketPlaceOrderId', 'sequence', 'salesChannel', 'affiliateId',
       'origin', 'workflowInErrorState', 'workflowInRetry',
       'lastMessageUnread', 'ShippingEstimatedDate',
       'ShippingEstimatedDateMax', 'ShippingEstimatedDateMin',
       'orderIsComplete', 'listId', 'listType', 'authorizedDate',
       'callCenterOperatorName', 'totalItems', 'currencyCode', 'hostname',
       'invoiceOutput', 'invoiceInput', 'Cretaed_Timestamp',
       'Updaqted_Timestamp', 'lastChange', 'isAllDelivered',
       'giftCardProviders', 'orderFormId', 'paymentApprovedDate',
       'readyForHandlingDate', 'deliveryDates', 'SourceSite'],
      dtype='object')

## 5. Product Order Detail

In [62]:
productOrderDetail.head(10)

,Country,uniqueId,id,productId,ean,lockId,quantity,seller,name,refId,...,Price_Map,Cretaed_Timestamp,Updaqted_Timestamp,priceDefinition.calculatedSellingPrice,priceDefinition.sellingPrices.quantity,priceDefinition.sellingPrices.values,priceDefinition.sellingPrices,priceDefinition.total,bundleItems.priceDefinition,SourceSite
0,MX,38795A7B5E3F489D8C5C1D1F8BD9088D,3226,706,NaN,00-1100000450614-01,1,1,"Estufa Empotrable 30"" WER3000D",WER3000D,...,9051.719727,2021-11-04 12:28:07,2021-11-04 12:28:07,nan ...,nan ...,nan ...,nan ...,nan ...,nan ...,WHR MX
1,MX,38795A7B5E3F489D8C5C1D1F8BD9088D,3226,706,NaN,00-1100000450614-01,1,1,"Estufa Empotrable 30"" WER3000D",WER3000D,...,9051.719727,2021-11-05 13:11:28,2021-11-05 13:11:28,nan ...,nan ...,nan ...,nan ...,nan ...,nan ...,TWHR MX
2,MX,8A998D15AADF4BB4AD2FA74F47ECD4BC,2868,1089,NaN,00-1100031691608-01,1,1,Campana de Pared 76 cm WH7610B,WH7610B,...,1852.520020,2021-11-04 12:28:07,2021-11-04 12:28:07,nan ...,nan ...,nan ...,nan ...,nan ...,nan ...,WHR MX
3,MX,8A998D15AADF4BB4AD2FA74F47ECD4BC,2868,1089,NaN,00-1100031691608-01,1,1,Campana de Pared 76 cm WH7610B,WH7610B,...,1852.520020,2021-11-05 13:11:28,2021-11-05 13:11:28,nan ...,nan ...,nan ...,nan ...,nan ...,nan ...,TWHR MX
4,MX,A0EE60D045F34B2EA20615A647F925AE,2049,208,883049380018.0,00-1100183075120-01,1,1,Lavadora Carga Superior Whirlpool 26kg Alta Ef...,7MWTW8500EC,...,16959.039062,2021-11-04 12:28:07,2021-11-04 12:28:07,nan ...,nan ...,nan ...,nan ...,nan ...,nan ...,WHR MX
5,MX,A0EE60D045F34B2EA20615A647F925AE,2049,208,883049380018.0,00-1100183075120-01,1,1,Lavadora Carga Superior Whirlpool 26kg Alta Ef...,7MWTW8500EC,...,16959.039062,2021-11-05 13:11:28,2021-11-05 13:11:28,nan ...,nan ...,nan ...,nan ...,nan ...,nan ...,TWHR MX
6,MX,A0EE60D045F34B2EA20615A647F925AE,2049,208,883049380018.0,00-1100183075120-01,1,1,Lavadora Carga Superior Whirlpool 26kg Alta Ef...,7MWTW8500EC,...,16959.039062,2021-11-05 13:11:30,2021-11-05 13:11:30,nan ...,nan ...,nan ...,nan ...,nan ...,nan ...,TWHR MX
7,MX,E18A6AE18D1342A79389B7105DDC93D6,2868,1089,NaN,00-1100203487915-01,1,1,Campana de Pared 76 cm WH7610B,WH7610B,...,1852.520020,2021-11-04 12:28:07,2021-11-04 12:28:07,nan ...,nan ...,nan ...,nan ...,nan ...,nan ...,WHR MX
8,MX,E18A6AE18D1342A79389B7105DDC93D6,2868,1089,NaN,00-1100203487915-01,1,1,Campana de Pared 76 cm WH7610B,WH7610B,...,1852.520020,2021-11-05 13:11:28,2021-11-05 13:11:28,nan ...,nan ...,nan ...,nan ...,nan ...,nan ...,TWHR MX
9,MX,98F2DA302380448C96418CC73E598190,3540,868,7501545634024.0,00-1100250130754-01,1,1,Lavadora Carga Superior Whirlpool 16kg Xpert S...,8MWTW1612MJQ,...,7326.666514,2021-11-04 12:28:07,2021-11-04 12:28:07,nan ...,nan ...,nan ...,nan ...,nan ...,nan ...,WHR MX

In [63]:
productOrderDetail.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87610 entries, 0 to 87609
Columns: 108 entries, Country to SourceSite
dtypes: bool(1), float64(59), int64(7), object(41)
memory usage: 71.6+ MB

In [64]:
productOrderDetail.describe()

,id,productId,quantity,price,listPrice,manualPrice,sellerSku,commission,tax,unitMultiplier,...,bundleItems.rewardValue,bundleItems.freightCommission,bundleItems.priceDefinitions,bundleItems.taxCode,bundleItems.parentItemIndex,bundleItems.parentAssemblyBinding,bundleItems.callCenterOperator,bundleItems.serialNumbers,bundleItems.costPrice,Price_Map
count,8.761000e+04,87610.000000,87610.000000,8.761000e+04,8.761000e+04,4.101000e+03,8.761000e+04,87610.0,87610.000000,87610.000000,...,1489.0,1489.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,66112.000000
mean,1.148191e+05,576.537210,1.052003,5.072937e+07,6.663456e+07,1.037590e+06,1.148161e+05,0.0,44.967800,1.000114,...,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10377.313632
std,3.170543e+05,467.554459,0.357374,1.135516e+08,1.489903e+08,7.601508e+05,3.170554e+05,0.0,1075.020025,0.023889,...,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8649.198724
min,1.000000e+00,1.000000,1.000000,1.000000e+02,1.000000e+02,7.140000e+04,1.000000e+00,0.0,0.000000,1.000000,...,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
25%,1.890000e+02,178.000000,1.000000,4.849000e+05,6.399000e+05,6.469000e+05,1.880000e+02,0.0,0.000000,1.000000,...,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3189.999898
50%,6.400000e+02,447.000000,1.000000,1.159900e+06,1.659900e+06,8.690000e+05,6.330000e+02,0.0,0.000000,1.000000,...,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9395.691511
75%,3.382000e+03,880.000000,1.000000,3.599000e+07,5.099000e+07,1.252900e+06,3.382000e+03,0.0,0.000000,1.000000,...,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14395.673077
max,1.000183e+06,1763.000000,12.000000,2.339980e+09,2.399990e+09,8.692900e+06,1.000183e+06,0.0,86127.000000,6.000000,...,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,191831.031250

In [65]:
productOrderDetail.duplicated().sum()

np.int64(1)

In [66]:
productOrderDetail.isnull().sum()

Country                                     0
uniqueId                                    0
id                                          0
productId                                   0
ean                                     21856
                                        ...
priceDefinition.sellingPrices.values        0
priceDefinition.sellingPrices               0
priceDefinition.total                       0
bundleItems.priceDefinition                 0
SourceSite                                  0
Length: 108, dtype: int64

In [67]:
productOrderDetail.dtypes

Country                                 object
uniqueId                                object
id                                       int64
productId                                int64
ean                                     object
                                         ...
priceDefinition.sellingPrices.values    object
priceDefinition.sellingPrices           object
priceDefinition.total                   object
bundleItems.priceDefinition             object
SourceSite                              object
Length: 108, dtype: object

In [68]:
productOrderDetail.nunique()

Country                                     6
uniqueId                                69373
id                                       1530
productId                                1225
ean                                      1661
                                        ...
priceDefinition.sellingPrices.values     2841
priceDefinition.sellingPrices            7788
priceDefinition.total                    9091
bundleItems.priceDefinition                 2
SourceSite                                 12
Length: 108, dtype: int64

In [69]:
productOrderDetail.columns

Index(['Country', 'uniqueId', 'id', 'productId', 'ean', 'lockId', 'quantity',
       'seller', 'name', 'refId',
       ...
       'Price_Map', 'Cretaed_Timestamp', 'Updaqted_Timestamp',
       'priceDefinition.calculatedSellingPrice',
       'priceDefinition.sellingPrices.quantity',
       'priceDefinition.sellingPrices.values', 'priceDefinition.sellingPrices',
       'priceDefinition.total', 'bundleItems.priceDefinition', 'SourceSite'],
      dtype='object', length=108)

## 6. Product Catalog

In [70]:
productCatalog.head(10)

,IdMaterial,MATERIAL,EAN_UPC,BRAND,CATEGORY_PROJECT,SEGMENT_DESC
0,1,WC07001Q,7.501550e+12,WHR,T-06 FREEZER,200. CHEST FREEZERS
1,2,WA1045Q,7.501550e+12,WHR,T-05 AT,170. ACC MINISPLIT ON/OFF
2,3,WA2043Q,7.501550e+12,WHR,T-05 AT,170. ACC MINISPLIT ON/OFF
3,4,WC10001Q,7.501550e+12,WHR,T-06 FREEZER,200. CHEST FREEZERS
4,5,WA2046Q,7.501550e+12,WHR,T-05 AT,170. ACC MINISPLIT ON/OFF
5,6,WK3901Q,7.501550e+12,WHR,T-11 OTHERS,240. WATER FILTRATION
6,7,WK5101U,7.501550e+12,WHR,T-11 OTHERS,230. WATER COOLERS
7,8,WK71311Q,7.501550e+12,WHR,T-11 OTHERS,235. WATER HEATERS
8,9,WK9001Q,7.501550e+12,WHR,T-11 OTHERS,240. WATER FILTRATION
9,10,WM1010S,7.501550e+12,WHR,T-04 MWO,160. MICROWAVES 0.7 - 1.1 CU.FT

In [72]:
productCatalog.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7158 entries, 0 to 7157
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   IdMaterial        7158 non-null   int64
 1   MATERIAL          7158 non-null   object
 2   EAN_UPC           5603 non-null   float64
 3   BRAND             7158 non-null   object
 4   CATEGORY_PROJECT  7158 non-null   object
 5   SEGMENT_DESC      7158 non-null   object
dtypes: float64(1), int64(1), object(4)
memory usage: 335.7+ KB

In [73]:
productCatalog.describe()

        IdMaterial       EAN_UPC
count  7158.000000  5.603000e+03
mean   3579.500000  3.491509e+12
std    2066.480946  3.283768e+12
min       1.000000  1.614561e+10
25%    1790.250000  8.830490e+11
50%    3579.500000  8.830490e+11
75%    5368.750000  7.501550e+12
max    7158.000000  8.830490e+12

In [74]:
productCatalog.duplicated().sum()

np.int64(0)

In [75]:
productCatalog.isnull().sum()

IdMaterial             0
MATERIAL               0
EAN_UPC             1555
BRAND                  0
CATEGORY_PROJECT       0
SEGMENT_DESC           0
dtype: int64

In [76]:
productCatalog.dtypes

IdMaterial            int64
MATERIAL             object
EAN_UPC             float64
BRAND                object
CATEGORY_PROJECT     object
SEGMENT_DESC         object
dtype: object

In [77]:
productCatalog.nunique()

IdMaterial          7158
MATERIAL            7158
EAN_UPC              232
BRAND                 16
CATEGORY_PROJECT      13
SEGMENT_DESC          62
dtype: int64

In [78]:
productCatalog.columns

Index(['IdMaterial', 'MATERIAL', 'EAN_UPC', 'BRAND', 'CATEGORY_PROJECT',
       'SEGMENT_DESC'],
      dtype='object')